@using InlineBootstrap.Tools
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InlineBootstrap</title>
    @Html.InlineStylesheet("~/Content/bootstrap-theme.min.css")
    @Html.InlineStylesheet("~/Content/bootstrap.min.css")
    </head>
    <body>
        <div class="container" id="bodyContent">
        </div>
        @Html.InlineScriptBlock("~/Scripts/jquery-1.9.1.min.js")
        @Html.InlineScriptBlock("~/Scripts/bootstrap.min.js")
    </body>
</html>
