<section>
    <h2>Using promises</h2>
    
    <div>
        <p><button id="waitSingle" data-bind="click: waitSingle">Wait for single</button></p>
        <p><button id="waitMultiple" data-bind="click: waitMultiple">Wait for multiple</button></p>
        <p><button id="waitValue" data-bind="click: waitValue">Wait for value</button></p>
        <p><button id="waitMultiValue" data-bind="click: waitMultiValue">Wait for multiple values</button></p>

        <ul id="items" data-bind="foreach: items">
            <li>Foo: <span data-bind="text: $data"></span></li>
        </ul>
       
    </div>
  
</section>