<section>
    <h2>Composition</h2>
    <div class="row-fluid">
        <div class="span4">
            <button data-bind="click: showHideLeft">Show/Hide</button>
            <div data-bind="visible: leftview.isVisible">
                <!-- ko compose: { model: 'viewmodels/composition/leftview', activationData: updateMessage }--><!--/ko-->
            </div>
        </div>
        <div class="span4">
            <div>
                <!-- ko compose: { model: 'viewmodels/composition/rightview' }--><!--/ko-->
            </div>
        </div>
    </div>
  
</section>