<script id="leftTemplate" type="text/html">
    <div class="red_border">
        <h1>Left!</h1>
        
        <h3 data-bind="text: title"></h3>
        <input data-bind='value: title' />
    </div>
</script>