<script id="productTemplate" type="text/html">
    <div class="blue_border">
        <img src="/Content/Images/juicy_burger.jpg" alt="Juicy Burger" height="100" width="100">
        <h3 data-bind="text: title"></h3>        
        <p>
            <input data-bind='value: title' />
        </p>
        <p>
            Calories: <input data-bind="value: calories" />
        </p>
    </div>
</script>