<script id="rightTemplate" type="text/html">
    <div class="blue_border">
        <h1>Right!</h1>
        
        <h3 data-bind="text: rightTitle"></h3>
        <input data-bind='value: rightTitle' />
    </div>
</script>