<section id="shell-view">
    
    <div class="black_border">
        <h1 data-bind="text: title"></h1>
        <input data-bind='value: title' />
        <p>
			<a class="button-link" href="#ABC">ABC</a>
			<a class="button-link" href="#123">123</a>
			<a class="button-link" href="#XYZ">XYZ</a>
		</p>

        <button data-bind='click: swapViews'>Swap views</button>
        
        <h3 data-bind="text: announcement"></h3>
        <table>
            <tr>
                <td>
                    <div data-bind="with: leftViewModel()">
                        <div data-bind="template: { name: templateName() }"></div>
                    </div>
                </td>
            
                <td>
                    <div data-bind="with: rightViewModel()">
                        <div data-bind="template: { name: templateName() }"></div>
                    </div>
                </td>
            </tr>
        </table>
    
    </div>

</section> 