<section id="shell-view">
    
    <div class="black_border">
        <h1 data-bind="text: title"></h1>
        <input data-bind='value: title' />
    

        <table>
            <tr>
                <td>
                    <div data-bind="template: { name: 'leftTemplate' }"></div>
                </td>
            
                <td>
                    <div data-bind="template: { name: 'rightTemplate' }"></div>
                </td>
            </tr>
        </table>
    
    </div>

</section> 